body {
    background-color: white;
    color: black;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    text-align: center;
    border: 5px solid red;
    border-radius: 20px;
    padding: 10px;
    
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 20px;
}

form [type="submit"] {
    height: 50px;
    width: 50%;
    background: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
    
}

form [type="submit"]:hover {
    cursor: pointer;
}
